/* UNDER DEVELOPMENT */
/* m2vh_favicon.svg will reference to this file */

/* get the batman css */
/* NOT WORKING 
@import url("assets/css/batmanfont.css")
*/

/* Create font-face 'batman outline' */

@font-face {
  font-family: 'batman outline';
  src: url("assets/fonts/batmfofont.ttf") format("truetype");
}


/* Set color/font-family of text (so we will be seen) */
#my_svg_text_inline_2 {
	fill: #dddddd;
  font-family: 'batman outline';
}

/*
#my_svg_text_inline_2 {
	font-size: 90px;
	text-anchor: middle;
	alignment-baseline: central;

}
*/
#my_svg_name_batman_2 {
	fill: #dddddd;
}
/*
#my_svg_name_batman_2 {
	
}
*/

/* 
	We have a CORS-ready CDN - god bless Microsoft ;-)
*/
@font-face {
	font-family: "BatmanForeverAlternate";
	src: url(https://svgfont.azureedge.net/testfonts/batmanfont/batmfafont.ttf);
}

#my_text { 
	fill: orange;
	font-size: 90px;
	text-anchor: middle;
	font-family: 'BatmanForeverAlternate';
}

#my_rect {
	fill: green;
}
