<!-- Start include -->
<div>
<!-- style INPUT & BUTTON -->
<style>
#my_button_div {
	text-align: center;
	font-family: "";
}
.my_input {
	text-align: center;
	}
.my_input input{
	/* height: 2em; */
	/* margin: 5px; */
	/* text-align: center; */
	padding: 5px 5px 5px 5px;
	background-color: inherit;
	color: inherit;
}
.my_input button{
	/* height: 2em; */
	/* margin: 5px; */
	text-align: center;
	padding: 5px 5px 5px 5px;
	background-color: inherit;
	color: inherit;
}
.btn:hover, .btn:active:focus, .btn:active, .btn.active {
	background-color: #006800;
	color: #eeeeee;
	border-bottom: #4f4f4f; 
}
input[type="text"]:focus {
	border-color: #006800e6;
	box-shadow: 0 1px 1px #024102 inset, 0 0 8px #52ac3880;
	outline: 0 none;
}
</style>
</div>
<!-- BUTTON DIV -->
<div id="my_button_div_1" class='my_input'> 
  <form>
	<p>
		<input class="my_input form-control" id="my_input_1" name="my_input_1" type="text" value='superman'/>
	  </p>
	  <p>
		<input class="my_input form-control" id="my_input_2" name="my_input_2" type="text" value='supergirl'/>
		</p>
	<p>
	<button id="my_button_do_1" class="btn btn-default" type="button" onclick='my_test()'>Change it!</button>
	<button id="my_button_reset_1" class="btn btn-default" type="reset" onclick='return my_reset();'>Reset</button>
	<button id="my_button_dl" class="btn btn-default" type="button" onclick='download("test.svg")'>Download</button>
		</p>
<!-- NOT WORKING until we link font to CORS-Server
<button id="my_button_dl" type="button" onclick='download("test.svg")'>Download</button>
-->
</form>
</div> <!-- #my_button_div_1 -->
<div>
  <script>
	function my_test(){
	    var my_newtext_1 = document.getElementById('my_input_1');
	    var my_newtext_2 = document.getElementById('my_input_2');
  	    var my_text_1 = document.getElementById('my_svg_name_batman');
  	    var my_text_2 = document.getElementById('my_svg_name_robin');
 	    my_text_1.innerHTML = my_newtext_1.value;
	    my_text_2.innerHTML = my_newtext_2.value;
	    my_newtext_1.value = '';
	    my_newtext_2.value = '';
	  }
	  function my_reset(){
	  	document.getElementById('my_svg_name_batman').innerHTML='batman';
		document.getElementById('my_svg_name_robin').innerHTML='robin';	  
	  }
	</script>

<!-- Generate a .svg-Download -->
<script>
function download(filename) {
 	<!-- get the svg -->
	var svg = document.getElementById('my_svg_1');
	var pom = document.createElement('a');
 	pom.setAttribute('href', 'data:image/svg+xml;charset=utf-8,' + encodeURIComponent(svg.outerHTML));
 	pom.setAttribute('download', filename);
	if (document.createEvent) {
        	var event = document.createEvent('MouseEvents');
        	event.initEvent('click', true, true);
        	pom.dispatchEvent(event);
	}
    	else {
        	pom.click();
    	}
}
</script>
</div>
